<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="/public/logic/serverInteraction.js"></script>
    <script type="text/javascript" src="/public/logic/blog.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/style/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/style/blog.css" />
  </head>

  <body>
    <!-- sezione di avviso login necessario a comparsa comparsa/scomparsa -->
    <div id="loginNeededSection" class="fullscreenSection">
      <!-- Modal content -->
      <a class="closebtn" id="closeLoginNeededSectionButton">&times;</a>
      <div id="loginNeededContainer">
        <p>Devi aver effettuato il login!</p>
      </div>
    </div>

    <div id="status">
      <p> <%= status %></p>
    </div>
    <!-- sezione dei post a comparsa/scomparsa -->
    <div class="fullscreenSection" id="newPostSection">
      <a class="closebtn" id="closeNewPostSectionButton">&times;</a>
      <!-- post form -->
      <div id="post-form-container">
        <h3>Pubblica un post:</h3>
        <label for="title">Titolo</label>
        <input type="text" id="title" name="title">
        <label for="newPostText">testo</label>
        <textarea id="newPostText" name="newPostText" rows="5"></textarea>
        <button type="submit" id="postButton">Pubblica</button>
      </div>
    </div>

    <!-- sezione dei commenti a comparsa/scomparsa -->
    <div class="fullscreenSection" id="commentsSection">
      <a class="closebtn" id="closeCommentsSectionButton">&times;</a>
      <!-- comment form -->
      <div id="comments-section-container">
        <div id="newCommentForm">
          <h3>Commenta:</h3>
          <textarea id="newCommentText" name="commentText" rows="2"></textarea>
          <button type="submit" id="newCommentButton">Pubblica</button>
          <input type="hidden" id="newCommentPostId" value="">
        </div>
        <iframe id="commentsIframe" title="comments"></iframe>
      </div>
    </div>

    <div id="navBar">
      <a id="profileButton"><i class="bi bi-person-circle"></i> Profilo</a>
      <a id="newPostButton"><i class="bi bi-file-post"></i> Nuovo Post</a>
      <a id="logoutButton" href="/microblog/logout"><i class="bi bi-door-closed-fill"></i> Logout</a>
    </div>

    <div id="blog">
      <div id="header">
        <h1>Ciao <%= username %> e benvenuto nel blog!</h1>
      </div>
      <% for(var i = posts.length - 1; i >= 0; i--){ %>
      <div class="post-container">
        <!-- post -->
        <div class="post-item post">
          <h2><%= posts[i].title %></h2>
          <p><%= posts[i].text %></p>
          <div class="post-footer-container">
            <div class="post-footer-item author"><%= posts[i].author.username %></div>
            <div class="post-footer-item date"><%= posts[i].date %></div>
          </div>
        </div>
        <!-- sidebar con icone likes commenti -->
        <div class="post-item post-iconbar-container" id="<%= posts[i].id %>">
          <!-- icona like -->
          <div class="post-iconbar-item">
            <% if(posts[i].likes.find(likeUser => likeUser.username === username) != undefined){ %>
            <img class="likeImg post-interaction-img" src="/public/img/liked.png" alt="already liked">
            <% } else{ %>
            <img class="likeImg post-interaction-img" src="/public/img/like.png" alt="click to like">
            <% } %>

          </div>
          <!-- numero di like -->
          <div class="post-iconbar-item counter" id="likeCounter<%= posts[i].id %>">
            <%= posts[i].likes.length %>
          </div>
          <!-- icona commenti -->
          <div class="post-iconbar-item">

            <img class="commentImg post-interaction-img" src="http://127.0.0.1:3000/public/img/comment.png" alt="comment">

          </div>
          <!-- numero di commenti -->
          <div class="post-iconbar-item counter" id="commentCounter<%= posts[i].id %>">
            <%= posts[i].comments.length %>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="footer">
      <h5>PWM Microblog</h5>
      <h5>2020/2021</h5>
      <h5>Karim Bachir</h5>
    </div>
  </body>

</html>