<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/logic/microblog.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/style/blog.css" />

  </head>

  <body>
    <div id="page">
      <!-- sezione a comparsa/scomparsa-->
      <div class="fullscreenSection" id="newPostSection">
        <a class="closebtn" onclick="closeNewPostSection()">&times;</a>
        <!-- post form -->
        <div id="post-form-container">
          <h2>Pubblica un post:</h2>
          <label for="title">Titolo</label>
          <input type="text" id="title" name="title">
          <label for="newPostText">testo</label>
          <textarea id="newPostText" name="newPostText" rows="5"></textarea>
          <button type="submit" id="postButton">Pubblica</button>
        </div>
      </div>
      <!-- sezione a comparsa/scomparsa-->
      <div class="fullscreenSection" id="commentsSection">
        <a class="closebtn" onclick="closeCommentsSection()">&times;</a>
        <!-- comment form -->
        <div id="comments-section-container">
          <div id="newCommentForm">
            <h2>Commenta:</h2>
            <textarea id="commentText" name="commentText" rows="2"></textarea>
            <button type="submit" id="commentButton">Pubblica</button>
          </div>
          <iframe id="commentsIframe" title="comments"></iframe>
        </div>
      </div>

      <a href="/microblog/logout">Logout</a>
      <span onclick="openNewPostSection()">&#9776; open</span>
      <h1>Ciao <%= username %> e benvenuto nel blog!</h1>

      <div id="posts">
        <% for(var i = posts.length - 1; i >= 0; i--){ %>
        <div class="post-container">
          <!-- post -->
          <div class="post-item post">
            <h2><%= posts[i].title %></h2>
            <p><%= posts[i].text %></p>
            <div class="post-footer-container">
              <div class="post-footer-item author"><%= posts[i].author %></div>
              <div class="post-footer-item date"><%= posts[i].date %></div>
            </div>
          </div>
          <!-- sidebar con icone likes commenti -->
          <div class="post-item post-iconbar-container" id="<%= posts[i].id %>">
            <!-- icona like -->
            <div class="post-iconbar-item">

              <% if(posts[i].likes.find(user => user === username) != undefined){ %>
              <img class="likeImg post-interaction-img" src="/public/img/liked.png" alt="already liked">
              <% } else{ %>
              <img class="likeImg post-interaction-img" src="/public/img/like.png" alt="click to like">
              <% } %>

            </div>
            <!-- numero di like -->
            <div class="post-iconbar-item counter" id="likeCounter<%= posts[i].id %>">
              <%= posts[i].likes.length %>
            </div>
            <!-- icona commenti -->
            <div class="post-iconbar-item">

              <img class="commentImg post-interaction-img" src="http://127.0.0.1:3000/public/img/comment.png" alt="comment">

            </div>
            <!-- numero di commenti -->
            <div class="post-iconbar-item counter" id="commentCounter<%= posts[i].id %>">

              <span> <%= posts[i].comments.length %> </span>

            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>

</html>